<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DBPedia Sparql Webpage</title>

    <script type="text/javascript">
      mxBasePath = '../static/src';
   </script>

   <!-- Loads and initializes the library -->
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
   <script type="text/javascript" src="static/src/js/mxClient.js"></script>
	<script type="text/javascript" src="static/js/plotGraph.js"></script>
<!--    <script type="text/javascript" src="static/js/test.js"></script>-->
<!--    styling files-->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body onload="getNodeAndEdges();">

<div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-12 border-green py-4">
            <!--upper two table-->
             <table class="sparql w-100"  border="1" id="tbldata">
                            <tr>
                              <th id="subj" colspan="2" class="text-center">{{test_subjects}}</th>
                            </tr>

                    {% for result in predicates %}
                    <tr>

                        {% for e, value in result.items() %}
                        <td>
                            <form action="/update2" method="POST">
                            <input type="submit" name="action" class="btn btn-success btn-block" value={{value.value}} />
                            </form>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
          </div>
        </div>
        <div class="row">
          <div class="col-12 border-blue py-4">
            
            <!--below one table-->
              <table class="sparql w-100"  border="2" id="st">
                    {% for result in subjects %}
                    <tr>
                        {% for e, value in result.items() %}
                        <td><form action="/update" method="POST">
                            <input type="submit" class="btn btn-primary btn-block" name="action" value="{{value.value}}"/>
                        </form></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>

          </div>
        </div>
      </div>
      <div class="col-6 border-red py-4">
          <h2 class="text-center text-danger">Node Graph</h2>
            <!-- Creates a container for the graph with a grid wallpaper -->
             <div id="graphContainer" class="w-100 h-100">
             </div>
      </div>
    </div>
  </div>







           



<!--<table border="4">-->
<!--<tr>-->
<!--        <td>-->
<!--            <table class="sparql"  border="1" id="tbl1">-->
<!--                <tr>-->
<!--                  <th id="subj">{{test_subjects}}</th>-->
<!--                </tr>-->

<!--        {% for result in predicates %}-->
<!--        <tr>-->
<!--            {% for e, value in result.items() %}-->
<!--            <td><form action="/update2" method="POST">-->
<!--                <input type="submit" name="action" value={{value.value}} />-->
<!--            </form></td>-->
<!--            {% endfor %}-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--    </table>-->
<!--        </td>-->
<!--        <td>-->

<!--            <input type="file" id="fileUpload" />-->
<!--            <input type="button" id="upload" value="Upload" onclick="upload();" />-->

<!--            <hr />-->
<!--            <div class="heading">-->
<!--               <a href="format.html">click here to check csv file format</a>-->
<!--            </div>-->

<!--            &lt;!&ndash; Creates a container for the graph with a grid wallpaper &ndash;&gt;-->
<!--             <div id="graphContainer" class="div-bg">-->
<!--             </div>-->
<!--        </td>-->

<!--</tr>-->
<!--<tr>-->
<!--    <td>-->
<!--        <table class="sparql"  border="2" id="st">-->
<!--        {% for result in subjects %}-->
<!--        <tr>-->
<!--            {% for e, value in result.items() %}-->
<!--            <td><form action="/update" method="POST">-->
<!--                <input type="submit" name="action" value="{{value.value}}"/>-->
<!--            </form></td>-->
<!--            {% endfor %}-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--    </table>-->
<!--    </td>-->
<!--    <td>Visualization</td>-->
<!--</tr>-->

<!--</table>-->


</body>
</html>