<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DBPedia Sparql Webpage</title>

    <script type="text/javascript">
      mxBasePath = '../static/src';
   </script>

   <!-- Loads and initializes the library -->
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
   <script type="text/javascript" src="static/src/js/mxClient.js"></script>
	<script type="text/javascript" src="static/js/plot.js"></script>
<!--    <script type="text/javascript" src="static/js/test.js"></script>-->
<!--    styling files-->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>

<div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-12 border-green py-4">
            <!--upper two table-->
             <table class="sparql w-100"  border="1" id="tbldata">
                          <thead>
                            <tr>
                              <th id="subj" colspan="2" class="text-center">{{test_subjects}}</th>
                            </tr>
                          </thead>
                 <tbody>

                 </tbody>
                </table>
          </div>
        </div>
        <div class="row">
          <div class="col-12 border-blue py-4">
            
            <!--below one table-->
              <table class="sparql w-100"  border="2" id="st">
                  <tbody>

                  </tbody>
                </table>

          </div>
        </div>
      </div>
      <div class="col-6 border-red py-4">
<!--          <h2 class="text-center text-danger">Node Graph</h2>-->
            <div class="upload">
                <input type="file" id="fileUpload" />
                <input type="button" id="upload" value="Upload"  />
                <hr />
            </div>
            <!-- Creates a container for the graph with a grid wallpaper -->
             <div id="graphContainer" class="w-100 h-100">
             </div>
      </div>
    </div>
  </div>
</body>
</html>